/* .NavBar {
    position: absolute;
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 0px;
    
    
    } */
    .NavBar {
        display: flex;
        gap: 1em;
        justify-content: center;
    }

    .NavBarItem {
        z-index:1;
        text-decoration: none !important;
    }
    .navbar-item1 {
    position: absolute;
    width: 436px;
    height: 72px;
    left: 720px;
    top: 20px;
    z-index: 1;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    
    letter-spacing: 0.23em;
    
    color: #DCC9B6;
    }
    
    .navbar-item2 {
    position: absolute;
    width: 957px;
    height: 62px;
    left: 170px;
    top: 37px;
    z-index: 1;
    
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 0.23em;
    
    color: #DCC9B6;
    }
    
    .navbar-item3{
    position: absolute;
    width: 805px;
    height: 104px;
    left: 449px;
    top: 37px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 0.23em;
    
    color: #DCC9B6;
    z-index: 1;
    }
    
    .navbar-item4 {
    position: absolute;
    width: 526px;
    height: 85px;
    left: 1280px;
    top: 37px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 0.23em;
    
    color: #DCC9B6;
    z-index: 1;
    
    }
    
    .navbar-item5 {
    position: absolute;
    width: 644px;
    height: 72px;
    left: 1540px;
    top: 37px;
    z-index: 1;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: 0.23em;
    
    color: #DCC9B6;
    
    }

    .button {
        color: #6D4C3D;
        background-color: #6D4C3D;
        z-index: 2;
    }

    .BarBar {
        min-height: 110 !important ;
    }