
.homemuglogo{
    position: relative;
    color: #727D71;
    left: 110px;
    top: 100px;

}
.Hometitle {
    font-family: Roboto;
    color:#727D71;
    font-weight: 900;
    position: relative;
    left: 1150px;
    top: -620px;
    font-size:100px;
    line-height: 100px !important;
    white-space: pre-line;

}

.hometextpassage {
  font-family: Roboto;  
  color: #6D4C3D;
  font-weight: 500;
  position: relative;
  left: 1150px;
  top: -580px;
  font-size: 32px;
  line-height: 41px;
  white-space: pre-line;
  z-index: 1;
}
.custom-btn {
    position: relative;
    left: 1148px;
    top: -560px;
    background-color: #6D4C3D !important;
    font-size: 50px !important;
    color:#DCC9B6 !important;
    border-color: #6D4C3D !important;
    border-radius: 20px !important;
    z-index: 1;

    

}

.Home {
position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 130px;

background-color: #DCC9B6;



}

.menuHTitle {
    color: #6D4C3D;
    position: relative;
    white-space: pre-line;
    left: 200px;
    top: 170px;
    font-size: 100px;
    line-height: 100px;
    font-weight: 900;
    font-family: Roboto;
    z-index: 1;
}

.menuHomeText{
color: #6D4C3D;
position: relative;
white-space: pre-line;
left: 200px;
top: 190px;
font-size: 40px;
font-weight: 530;
font-family: Roboto;
z-index: 1;
line-height: 50px;
}



#custom-btn {
    z-index: 1;
    position: absolute;
    background-color: #727D71 !important;
    top: 850px;
    left:200px;
    font-size: 50px !important;
    border-radius: 20px !important;
    border-color: #727D71 !important;
    color:#DCC9B6 !important;
}

.blackRec {
    z-index: 1;
    position:absolute;
    filter: invert(27%) sepia(13%) saturate(1561%) hue-rotate(334deg) brightness(98%) contrast(79%);
    left: 1200px;
    top: 250px;
    width:500px;
    height: 700px;
}

.coffeePour {
    z-index: 2;
    position: absolute;
    left: 1120px;
    top:200px;
    width: 500px;
    height: 700px;
}




.top {
    position: fixed;
    width: 1999px;
    height: 1890px;
    filter:invert(87%) sepia(21%) saturate(226%) hue-rotate(348deg) brightness(91%) contrast(92%);
    opacity: 39%;
    z-index: 0;
    padding: 0%;
    left: -50px;
    top: -680px;

}

.CoffeeMenuHome {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 1080px;
    background-color: #ABC4AB;

}


.squareHome {
    position: absolute;
    filter: invert(68%) sepia(7%) saturate(1331%) hue-rotate(360deg) brightness(86%) contrast(83%);
    top: 350px;
    width: 800px;
    left: 40px;
    
}

.gif {
    position: absolute;
    top: 300px;
    width: 800px;
    height: 500px;
    
}

.reviewsH {
    z-index: 1;
    white-space: pre-line;
    color: #DCC9B6;
    left: 1100px;
    top: 300px;
    font-size: 90px;
    position: absolute;
    line-height: 78px;
    font-weight: 600;
    font-family: Roboto;

}

.notesText{
    z-index: 1;
    white-space: pre-line;
    color:#DCC9B6;
    left: 1100px;
    top: 500px;
    position: absolute;
    font-family: Roboto;
    font-size: 40px;
    line-height: 49px;
    
}
.btn-primary {
    background-color: #DCC9B6 !important;
    color:#6D4C3D !important;
    border-color: #DCC9B6 !important;
    z-index: 1 !important;
    position: absolute !important;
    font-size: 50px !important;
    border-radius: 20px !important;
    left:1100px !important;
    top: 850px !important;

}

.notesbutton {
    background-color: #DCC9B6 !important;
    color:#6D4C3D !important;
    border-color: #DCC9B6 !important;
    z-index: 1 !important;
    position: absolute !important;
    font-size: 48px !important;
    border-radius: 20px !important;
    left:1400px !important;
    top: 850px !important;
    
}



.ReviewsHome {
position: absolute!important;
width: 1920px;
height: 1080px;
left: 0px;
top: 1050px;
z-index: 0 !important;
background:#6D4C3D !important; ;

}