
.cupcup {
  background-size: cover;
  background-image: url("https://64.media.tumblr.com/33602df7ad3e03139645eeedf8796b85/28ab4c6be15d23e2-7b/s500x750/a709525810a3275401af2e67d0e9916a0f982f1d.gifv");
  height: 900px;
  background-position: center;
  z-index: 0;

}





